@import './header';
@import './main';
@import './footer';
@import './hamburger';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  font-family: 'Public Sans', sans-serif;
}

.container{
  margin: 0 auto;
  width: 1440px;
  padding: 0 165px;
  

}

@media only screen and (max-width: 768px) {
  .container{
    margin: 0 auto;
    width: 768px;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 375px){
  .container{
    margin: 0 auto;
    width: 375px;
    padding: 0 24px;
  }
}